@use '../abstracts' as *;

.footer {
  background: $color-darker;
  color: $color-faint;
  padding-block: 4rem;

  &__inner {
    @include container;
  }

  &__top {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr;

    @include respond(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(lg) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__brand {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.2em;
    color: #fff;
  }

  &__tagline {
    max-width: 18rem;
    margin-top: 1rem;
    font-size: 0.875rem;
  }

  &__col-title {
    font-size: 0.875rem;
    font-weight: 600;
    color: #fff;
  }

  &__links {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    font-size: 0.875rem;

    a {
      transition: color $transition;

      &:hover {
        color: #fff;
      }
    }
  }

  &__bottom {
    text-align: center;
    // margin-top: 3.5rem;
    // padding-top: 2rem;
    // border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 0.795rem;
    font-weight: 800;
    color: $color-muted;
  }
}